In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import re
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

In [3]:
df_new = pd.read_csv('/workspaces/Nuevo-repo/data/raw/MiningProcess3.csv')
df_new.head()

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,4/1/2017 0:00,"59,72","9,22","2195,31","523,283","395,785","945,255","171,765","1,763,797,421,322","1,846,194,580,978",...,"249,082","807,178","799,417","799,614","461,455","476,486","421,792","449,983","64,03","3,11"
1,4/1/2017 0:00,"59,72","9,22","2148,28","520,983","397,219","945,499","171,748","1,763,793,195,901","1,846,220,493,979",...,"250,292","810,002","791,179","800,324","471,731","472,107","460,954","453,981","64,03","3,11"
2,4/1/2017 0:00,"59,72","9,22","2101,25","523,682","398,73","945,742","171,731","1,763,788,970,481","184,624,640,698",...,"248,511","800,781","802,031","802,312","474,609","469,266","493,972","447,476","64,03","3,11"
3,4/1/2017 0:00,"59,72","9,22","2054,22","524,413","400,369","945,985","171,713","176,378,474,506","184,627,231,998",...,"248,16","796,182","798,411","796,923","457,443","462,444","481,218","452,986","64,03","3,11"
4,4/1/2017 0:00,"59,72","9,22","2043,43","525,272","402,293","946,229","171,696","1,763,780,519,639","1,846,298,232,981",...,"247,747","790,783","794,159","790,596","437,286","454,435","466,243","459,457","64,03","3,11"

In [4]:
df_new.shape()

TypeError: 'tuple' object is not callable

In [4]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 393119 entries, 0 to 393118
Data columns (total 24 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   date                          393119 non-null  object
 1   % Iron Feed                   393119 non-null  object
 2   % Silica Feed                 393119 non-null  object
 3   Starch Flow                   393119 non-null  object
 4   Amina Flow                    393119 non-null  object
 5   Ore Pulp Flow                 393119 non-null  object
 6   Ore Pulp pH                   393119 non-null  object
 7   Ore Pulp Density              393119 non-null  object
 8   Flotation Column 01 Air Flow  393119 non-null  object
 9   Flotation Column 02 Air Flow  393119 non-null  object
 10  Flotation Column 03 Air Flow  393119 non-null  object
 11  Flotation Column 04 Air Flow  393119 non-null  object
 12  Flotation Column 05 Air Flow  393119 non-null  object
 13  Flotation Column 06 Air Flow  393119 non-null  object
 14  Flotation Column 07 Air Flow  393119 non-null  object
 15  Flotation Column 01 Level     393119 non-null  object
 16  Flotation Column 02 Level     393119 non-null  object
 17  Flotation Column 03 Level     393119 non-null  object
 18  Flotation Column 04 Level     393119 non-null  object
 19  Flotation Column 05 Level     393119 non-null  object
 20  Flotation Column 06 Level     393119 non-null  object
 21  Flotation Column 07 Level     393119 non-null  object
 22  % Iron Concentrate            393119 non-null  object
 23  % Silica Concentrate          393119 non-null  object
dtypes: object(24)
memory usage: 72.0+ MB

In [5]:
df_new.isna().sum()

date                            0
% Iron Feed                     0
% Silica Feed                   0
Starch Flow                     0
Amina Flow                      0
Ore Pulp Flow                   0
Ore Pulp pH                     0
Ore Pulp Density                0
Flotation Column 01 Air Flow    0
Flotation Column 02 Air Flow    0
Flotation Column 03 Air Flow    0
Flotation Column 04 Air Flow    0
Flotation Column 05 Air Flow    0
Flotation Column 06 Air Flow    0
Flotation Column 07 Air Flow    0
Flotation Column 01 Level       0
Flotation Column 02 Level       0
Flotation Column 03 Level       0
Flotation Column 04 Level       0
Flotation Column 05 Level       0
Flotation Column 06 Level       0
Flotation Column 07 Level       0
% Iron Concentrate              0
% Silica Concentrate            0
dtype: int64

Se procede a reemplazar todas las comas en las columnas del dataframe por puntos, lo que permite trabajar con los datos como nÃºmeros decimales en lugar de cadenas de texto.

In [6]:
for column in df_new.columns:
    df_new[column] = df_new[column].apply(lambda x: x.replace(',', '.'))

In [7]:
df_new

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,4/1/2017 0:00,59.72,9.22,2195.31,523.283,395.785,945.255,171.765,1.763.797.421.322,1.846.194.580.978,...,249.082,807.178,799.417,799.614,461.455,476.486,421.792,449.983,64.03,3.11
1,4/1/2017 0:00,59.72,9.22,2148.28,520.983,397.219,945.499,171.748,1.763.793.195.901,1.846.220.493.979,...,250.292,810.002,791.179,800.324,471.731,472.107,460.954,453.981,64.03,3.11
2,4/1/2017 0:00,59.72,9.22,2101.25,523.682,398.73,945.742,171.731,1.763.788.970.481,184.624.640.698,...,248.511,800.781,802.031,802.312,474.609,469.266,493.972,447.476,64.03,3.11
3,4/1/2017 0:00,59.72,9.22,2054.22,524.413,400.369,945.985,171.713,176.378.474.506,184.627.231.998,...,248.16,796.182,798.411,796.923,457.443,462.444,481.218,452.986,64.03,3.11
4,4/1/2017 0:00,59.72,9.22,2043.43,525.272,402.293,946.229,171.696,1.763.780.519.639,1.846.298.232.981,...,247.747,790.783,794.159,790.596,437.286,454.435,466.243,459.457,64.03,3.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393114,6/30/2017 23:00,49.36,25.87,5860.96,570.888,399.673,107.059,169.826,299.182,293.502,...,301.342,496.924,478.888,494.201,471.674,470.42,483.382,453.305,65.83,1.27
393115,6/30/2017 23:00,49.36,25.87,5540.02,572.563,399.991,107.037,169.867,298.828,301.112,...,299.755,496.484,504.89,510.404,483.976,485.478,500.632,440.41,65.83,1.27
393116,6/30/2017 23:00,49.36,25.87,5417.05,566.946,396.445,107.016,169.908,298.828,301.487,...,300.599,487.203,518.271,523.119,508.329,494.492,521.817,449.81,65.83,1.27
393117,6/30/2017 23:00,49.36,25.87,5336.23,572.965,400.225,106.995,169.949,299.197,288.894,...,301.543,501.01,533.742,529.962,532.491,502.635,526.745,472.258,65.83,1.27
393118,6/30/2017 23:00,49.36,25.87,5268.46,573.83,399.604,106.974,16.999,297.797,292.956,...,297.458,506.922,543.019,530.015,526.526,511.797,520.457,497.858,65.83,1.27

In [12]:
df_new['date'] = df_new['date'].apply(lambda x: re.search('\d{4}-\d{2}-\d{2}', str(x)).group(0) if re.search('\d{4}-\d{2}-\d{2}', str(x)) else '')


df_new['Year'] = df_new['date'].apply(lambda x: re.search('^[^-]*', x).group(0))
df_new['Month'] = df_new['date'].apply(lambda x: re.search('[^-]*$', x).group(0))
df_new = df_new.drop('date', axis=1)

In [13]:
df_new

,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,Flotation Column 03 Air Flow,...,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate,Year,Month
0,59.72,9.22,2195.31,523.283,395.785,945.255,171.765,1.763.797.421.322,1.846.194.580.978,1.842.928.185.841,...,799.417,799.614,461.455,476.486,421.792,449.983,64.03,3.11,,
1,59.72,9.22,2148.28,520.983,397.219,945.499,171.748,1.763.793.195.901,1.846.220.493.979,1.842.957.357.424,...,791.179,800.324,471.731,472.107,460.954,453.981,64.03,3.11,,
2,59.72,9.22,2101.25,523.682,398.73,945.742,171.731,1.763.788.970.481,184.624.640.698,1.842.986.529.007,...,802.031,802.312,474.609,469.266,493.972,447.476,64.03,3.11,,
3,59.72,9.22,2054.22,524.413,400.369,945.985,171.713,176.378.474.506,184.627.231.998,184.301.570.059,...,798.411,796.923,457.443,462.444,481.218,452.986,64.03,3.11,,
4,59.72,9.22,2043.43,525.272,402.293,946.229,171.696,1.763.780.519.639,1.846.298.232.981,1.843.044.872.173,...,794.159,790.596,437.286,454.435,466.243,459.457,64.03,3.11,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393114,49.36,25.87,5860.96,570.888,399.673,107.059,169.826,299.182,293.502,298.678,...,478.888,494.201,471.674,470.42,483.382,453.305,65.83,1.27,,
393115,49.36,25.87,5540.02,572.563,399.991,107.037,169.867,298.828,301.112,297.085,...,504.89,510.404,483.976,485.478,500.632,440.41,65.83,1.27,,
393116,49.36,25.87,5417.05,566.946,396.445,107.016,169.908,298.828,301.487,299.814,...,518.271,523.119,508.329,494.492,521.817,449.81,65.83,1.27,,
393117,49.36,25.87,5336.23,572.965,400.225,106.995,169.949,299.197,288.894,299.813,...,533.742,529.962,532.491,502.635,526.745,472.258,65.83,1.27,,
393118,49.36,25.87,5268.46,573.83,399.604,106.974,16.999,297.797,292.956,299.156,...,543.019,530.015,526.526,511.797,520.457,497.858,65.83,1.27,,